<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>28D337B8FA3BD504</RequestId><HostId>UiPOX+GL4OMdElPqwvDG7/IAiwJmJTWPG1GcHQiSDRLZPFwTUrWV9ivfdIQVS6TM3Q/J038esVE=</HostId></Error>